/* Footer.css */
.footer {
    position: static;
    bottom: 0;
    left: 0;
    width: auto;
    background-color: #f1f1f1; /* Puedes cambiar el color de fondo según tus necesidades */
    text-align: center;
    padding: 5px;
    border-top: 1px solid #ddd; /* Línea superior opcional */
    font-size: 12px;
    color: #333;
  }
  